name: inventory_allocation
description: A new Flutter project for inventory allocation system.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=2.19.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  http: ^1.1.0
  provider: ^6.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_linter:
    sdk: flutter

flutter:
  uses-material-design: true
